@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* INPUT STYLES */
.input-focus {
  border: 1px solid #5277C7;
  box-shadow: 0px 0px 0px 3px rgba(39, 64, 121, 0.18);
}

.input-error {
  border: 1px solid #E53457;
  box-shadow: 0px 0px 0px 3px rgba(190, 24, 57, 0.12);
}

.vertical-align-start {
  vertical-align: top;
}
/* PANE UNDERLINE STYLE */
.pane-underline {
  @apply h-[2px] bg-[#459572] bottom-[1px] absolute w-full left-0 right-0;
}

/* LEFT PANE_UNDERLINE STYLE */
.aside-pane-underline {
  @apply h-[20px] w-[3px] bg-[#459572] left-[0] top-[27%] absolute rounded-tr-[8px] rounded-br-[8px];
}

/* LEFT NAVBAR SVG STYLE */
.navlink-left:hover svg path {
  @apply stroke-o-status-green;
}

.navlink-left-active svg path {
  @apply stroke-o-status-green;
}

.download-field {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(193, 199, 208, 0.02) 100%), #FFF;
  box-shadow: 0px 0px 0px 2px rgba(39, 64, 121, 0.18);
}

.download-option-boxshadow {
  box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}

.toggle-boxshadow{
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.06), 0px 1px 3px rgba(16, 24, 40, 0.10);
}

.notification-boxshadow {
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
}

.profile-menu-boxshadow {
  box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}

.tablemenu-boxshadow {
  box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}

.multiple-options-boxshadow {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.10), 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
}

.modal-bg {
  backdrop-filter: blur(8px);
  background: rgba(52, 64, 84, 0.70);
}

.barchart-style canvas {
  @apply !h-full
}

/* BUTTON STYLES */
.default-button {
  @apply bg-o-blue border border-o-blue text-o-green;
}

.default-button:disabled {
  @apply border border-white text-[#ECFDF0];
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.80) 100%), #274079;
}

.default-button:hover {
  box-shadow: 0px 0px 0px 3px rgba(39, 64, 121, 0.18);
}

.outlined-button {
  @apply text-o-text-dark3 border border-o-border;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(193, 199, 208, 0.02) 100%), #FFF;
}

.outlined-button:hover {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(193, 199, 208, 0.02) 100%), #FFF;
  box-shadow: 0px 1px 2px 0px rgba(164, 172, 185, 0.40), 0px 1px 2px 0px rgba(164, 172, 185, 0.24), 0px 0px 0px 1px rgba(18, 55, 105, 0.08), 0px 0px 0px 2px #FFF, 0px 0px 0px 3px rgba(39, 64, 121, 0.50);
}

.outlined-button:disabled {
  @apply bg-o-bg-disabled text-o-text-disabled
}

/* HIDES THE NUMBER INPUT SPINNER */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

@media (max-width: 530px) {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

/* SCROLLBAR-TRACK */
::-webkit-scrollbar-track {
  @apply bg-[#ccc] rounded-xl;
}

/* SCROLLBAR-HANDLE */
::-webkit-scrollbar-thumb {
  @apply rounded-xl max-h-16 bg-[#999];
}

/* SCROLLBAR-HANDLE-ON-HOVER */
::-webkit-scrollbar-thumb:hover {
  @apply bg-[#888];
}


/* GLOBAL STYLES START HERE */
*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}
html {
  scroll-behavior: smooth;
  cursor: default;
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Ubuntu,
    Cantarell,
    Oxygen,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";

  line-height: 1.15;
  -moz-tab-size: 4;
  tab-size: 4;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: break-word;
  background-color: #fff;
}

body {
  margin: 0;
  background-color: #FFFFFF;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  height: 0;
  overflow: visible;
}

main {
  display: block;
}

nav ol,
nav ul {
  list-style: none;
}

pre {
  font-family:
    Menlo,
    Consolas,
    Roboto Mono,
    Ubuntu Monospace,
    Oxygen Mono,
    Liberation Mono,
    monospace;

  font-size: 1em;
}

a {
  background-color: transparent;
  color: #5277C7;
  text-decoration: none;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family:
    Menlo,
    Consolas,
    Roboto Mono,
    Ubuntu Monospace,
    Oxygen Mono,
    Liberation Mono,
    monospace;

  font-size: 1em;
}

small {
  font-size: 80%;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input,
select {
  margin: 0;
}

button {
  overflow: visible;
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

input {
  overflow: visible;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  margin: 0;
  overflow: auto;
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted #000000;
}

details {
  display: block;
}

dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

[hidden] {
  display: none;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled],
[disabled] {
  cursor: disabled;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
} 